body{
    margin: 0;
    font-size: 1em;
    font-family: 'Raleway',sans-serif;
    border: #0065fc 1px solid;
}
main{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
header{
    display: grid;
    max-width: 1440px;
    /*grid-area:header;*/
    width: 95%;
   /* display: flex;
    justify-content: space-between;*/
    align-items: center;
    text-align: center;
    margin: auto;
    grid-template-columns: auto 1fr 166px 148px 136px;
    grid-template-areas: "titre . heber act inscrire"
}
header .titre{
    grid-area: titre;
}
header .heber{
  grid-area: heber;
  border: 3px solid #0065fc;
  padding: 2.1rem;
  border-left: none;
  border-right:none ;
  border-bottom: none;
}
.heber,.act,.inscrire{
  text-decoration: none;
  color: #0065fc;
}
.heber:hover{
  border: none;
}
header .act{
  grid-area: act;
  color: black;
}
.act:hover{
  font-weight: bolder;
}
.inscrire:hover{
  font-weight: lighter;
}
header .inscrire{
  grid-area: inscrire;
  font-weight: bold;
  color: #0065fc;
  padding: 2.1rem;
  align-items: center;
}
.top li a , .filtre li a{
  text-decoration: none;
  color: #0065fc;
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}