html {
	font-family: "Raleway", "Sans serif";
	font-size: 1rem; 
	overflow-x: hidden;
	margin: 0 ;
	min-height: 100vh;
	max-height: 100vh;
}
body {
	margin: 0 ;
	box-sizing: border-box;
}
/*---------------------------------------------------*/
/*------------------HEADER---------------------------*/
/*---------------------------------------------------*/
header{
        display: grid;
        align-items: center;
        text-align: center;
        column-gap: 1rem;
        padding-left: 2rem;
        padding-right: 4.5rem;
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "titre . heber act inscrire";
}
header .titre{
        grid-area: titre;
        width: 9.375rem;
        height: 2.8rem;
}
header .heber{
        grid-area: heber;
        border-top: 3px solid #0065fc;
        padding: 3rem;
}

.heber,.act,.inscrire{
        text-decoration: none;
        color: #0065fc;
}
.heber:hover{
	border-top: 3px solid #f2f2f2;
}
header .act{
        grid-area: act;
        color: black;
}
.act:hover{
        font-weight: bolder;
        color: #0065fc;
}
.inscrire:hover{
        color: #000;
}
header .inscrire{
        grid-area: inscrire;
        font-weight: bold;
        color: #0065fc;
        padding: 2.1rem;
        align-items: center;
}
/*---------------------------------------------------*/
/*------------------#SECTION1------------------------*/
/*---------------------------------------------------*/
hr{
	display: none;
}
main {
	margin: 0;
	padding: 0 3rem 3.5rem 3rem;
	box-sizing: border-box;
}
h2{
       font-size: 1.4rem;
}
img {
	width: 100%;
	height: auto;
}
.nature {
	margin-top: 0.5rem;
}
.formulaire {
	display: flex;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
	border: none;
}
.icon1 {
	background-color: #f2f2f2;
	padding: 1rem 1.2rem;
        border-radius: 1rem 0 0 1rem;
        font-size: 1.1rem;
}
.text {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-right: none;
	border-left: none;
	padding-left: 1rem;
        font-weight: bold;
        font-family: "Raleway", "Sans serif";
	font-size: 1.2rem;
}
.bouton {
        font-family: "Raleway", "Sans serif";
	background-color: #0065fc;
	color: #fff;
	font-weight: 600;
	border: none;
	font-size: 1.1rem;
	border-radius: 0 1rem 1rem 0;
	padding: 0 1.25rem;
	cursor: pointer;
}
.news,.news1 {
	display: flex;
        flex-wrap: wrap;
}
.news1{
        font-family: "Raleway", "Sans serif";
        font-size: 1.2rem;
}
.pfiltre {
	display: flex;
	align-items: center;
	margin: 0 2rem 1rem 0;
	width: auto;
}
.filtre {
	display: flex;
	align-items: center;
	margin-right: 1.5rem;
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	margin-bottom: 0.75rem;
	cursor: pointer;
}
.icon2 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.2rem;
	width: 3.2rem;
	margin: -2px;
	background-color: #deebff;
	border-radius: 100%;
}
.icon2 i{
        color: #0065fc;
}
.filtre p {
        margin: 0 1.2rem 0 0.75rem;
	font-weight: bold;
}
.filtre:hover{
	box-shadow: 0 0 10px #0065fc;
}
.logement {
	display: flex;
	align-items: center;
	margin: 0.5rem 0 2rem 0;
}
.icon3 {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 1.5rem;
	min-width: 1.5rem;
	margin-right: 0.5rem;
	border: 1px solid #d9d9d9;
	border-radius: 100%;
}
.icon3 i{
        color: #0065fc;
        font-size: 0.75rem;
}
/*---------------------------------------------------*/
/*------------------.SECTION1------------------------*/
/*---------------------------------------------------*/
.section1{
        display: grid;
        column-gap: 2.5rem;
	grid-template-columns: 2.1fr 1fr;
	grid-template-rows: 39.25rem;
	grid-template-areas:"partie1 partie2" ;
	width: 100%;
}
.partie1{
	grid-area: partie1;
        display: grid;
        grid-gap: 2rem;
        background-color: #f2f2f2;
	grid-template-columns: repeat(3, 1fr) ;
	grid-template-rows: 4rem 1fr 1fr 4.8rem;
	border-radius: 1rem;
	padding: 0 2rem 2rem 2rem;
	align-items: center;
}
.mini {
        background-color: #fff;
        border-radius: 1.2rem;
        box-shadow: 0 0 10px #f2f2f2;
        cursor: pointer;
	box-sizing: border-box;
	border: 5px solid #fff;
	max-height: 12.56rem;
}
.mini-img img{
	height: 6.8rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
}
a {
    text-decoration: none;
        color: #000;
}
.content{
	line-height: 0.3rem;
	margin: 0.625rem 0.625rem 1.5rem 0.625rem;
}
.content p{
	font-size: 0.85rem;
}
.partie2{
	grid-area: partie2;
	display: grid;
        row-gap: 2rem;
        align-items: start;
        grid-template-rows: 3.875rem 1fr 1fr 1fr; 
        background-color: #f2f2f2;
	border-radius: 1.5rem;
	padding: 0 2rem 2rem 2rem;
}
.partie2a{
        font-weight: bold;
        width: 90%;
	margin: auto;
	padding-top: 1.3rem;
}

.partie2a i{
        float: right;
}
.hmar{
	grid-column: 1/-1;
	padding-top: 1.5rem;
}
.aplus{
	padding-bottom: 3rem;
}
.mini1{
	display: flex;
	background-color: #fff;
	height: 145px;
        border: 5px solid #fff;
        border-radius: 15px;
        box-shadow: 0 0 10px #f2f2f2;
        box-sizing: border-box;
        overflow: hidden;
}
.mini1 img{
        width: 40%;
        height: 100%;
        object-fit: cover;
}
.mini1_1 {   
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.5rem 1rem 0.5rem 1rem;
	box-sizing: border-box;
}
.chambre{
        margin: 0;
        font-weight: 700;
	font-size: 1rem;
}
.chambre-comment{
	font-size: 0.9rem;
}

.mini1_1 .chambre + p{
        margin-top: 0.5rem;
	margin-bottom: 0;
}

.mini1_1-div{
	word-spacing: -5px;
}

.fa-star,.content i{
        font-size: 0.75rem;
        letter-spacing: 2px;
}
/*---------------------------------------------------*/
/*------------------.SECTION2------------------------*/
/*---------------------------------------------------*/
.partie3{
        display: grid;
        grid-gap: 2.6rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:"vport boite1 pnc boite2" ;
}
.fpro{
       max-height: 14.75rem;
}
.ifri{
       max-height: 10.31rem;
}
.ndlg{
        max-height: 12.18rem;
}
.plong{
	max-height: 13.125rem;
}
.fpro-img img{
        max-height: 11.25rem;
        border-radius: 0.75rem 0.75rem 0 0;
        object-fit: cover;
        box-sizing: border-box;
}
.vport-img img,.pnc-img img{
	height: 24.4rem;
	object-fit: cover;
	box-sizing: border-box;
        border-radius: 0.75rem 0.75rem 0 0;
}
.ifri-img img{
        height: 6.875rem;
	object-fit: cover;
        border-radius: 0.75rem 0.75rem 0 0;
}
.ndlg-img img{
        height: 8.75rem;
        object-fit: cover;
        border-radius: 0.75rem 0.75rem 0 0;
}
.plong-img img{
        height: 9.68rem;
        object-fit: cover;
        border-radius: 0.75rem 0.75rem 0 0;
}
.vport{
	grid-area: vport;
	max-height: 27.875rem;
}
.pnc{
	grid-area: pnc;
	max-height: 27.875rem;
}

.boite1{
	height: 100%;
	max-height: 27.875rem;
        grid-area: boite1;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2.4rem;
}
.boite2{
	height: 100%;
	max-height: 27.875rem;
        grid-area: boite2;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 2.2rem;
}
.vport,.pnc,.plong,.ifri,.ndlg,.fpro{
        border-radius: 1rem;
        box-shadow: 2px 2px 6px #f2f2f2;
        cursor: pointer;
        box-sizing: border-box;
	height: auto;
}
.first{
	padding: 0 0 2rem 1.5rem;
	color: #000;
	vertical-align: middle;
}
.vport a,.pnc a,.plong a,.ifri a,.ndlg a,.fpro a{
	text-decoration: none;
}

  .actmar{
        grid-column: 1/-1;
	padding-top: 4.3rem;
	padding-bottom: 1.5rem;
}
/*---------------------------------------------------*/
/*------------------FOOTER---------------------------*/
/*---------------------------------------------------*/
footer{
    background-color: #f2f2f2;
    display: flex;
	justify-content: space-between;
	padding-top: 1.5rem; 
	text-decoration: none;
	height: 14rem;
	padding-right: 25%;
	line-height: 30px;
	padding-bottom: 4rem;
	box-sizing: border-box;
	margin: 0;
}
.foot{
    list-style-type: none;
}
.foot a{
    text-decoration: none;
    color: black;
}
.foot a:hover{
    text-decoration: underline;
}
.apropos{
	margin: 0;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}
.cool{
    color: #0065fc;
    font-size: 0.75rem;
}
.premier{
    font-weight: bold;    
}
.star1{
    color: #f2f2f2;
    font-size: 0.75rem;
}
/*---------------------------------------------------*/
/*------------------RESPONSIVE-----------------------*/
/*---------------------------------------------------*/
@media screen and (min-width:1257px) {
    #recherche{
		display: block;
	}
	.bouton i{
		display: none;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1256px) {
	#recherche{
		display: block;
	}
	.bouton i{
		display: none;
	}
	.section1 {
		grid-template-columns: 1fr;
		grid-template-rows:20rem ;
		grid-template-areas:"partie2"
		                    "partie1"; 
		row-gap: 2rem;
	}

	.partie2 {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 4rem 10rem;
		column-gap: 2rem;
		grid-row-start: 1;
	}
	.partie2a{
		grid-column: 1/-1;
		width: 100%;
	}
	.partie3{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "boite1 boite2"
		                     "vport pnc";
	}
	.vport,.pnc,.plong,.ifri,.ndlg,.fpro{
		max-height: 12.56rem;
	}
	.vport-img img,.pnc-img img,.plong-img img,.ifri-img img,.ndlg-img img,.fpro-img img{
		height: 8.5rem;
	}
}
@media screen and (min-width: 670px) and (max-width: 1024px) {
	#recherche{
		display: block;
	}
	.bouton i{
		display: none;
	}
	
	.section1 {
		grid-template-columns: 1fr;
		grid-template-areas:"partie2"
		                    "partie1"; 
		row-gap: 2rem;
	}
	.partie2{
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-row-start: 1;
		row-gap: 15px;
	}
	.partie2a{
		grid-column: 1/-1;
		width: 100%;
	}
	.partie1{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 4rem 1fr 1fr 1fr 4.8rem;
		height: auto;
	}
	.partie3{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "boite1 boite2"
		                     "vport pnc";
	}
	.vport,.pnc,.plong,.ifri,.ndlg,.fpro{
		max-height: 12.56rem;
	}
	.vport-img img,.pnc-img img,.plong-img img,.ifri-img img,.ndlg-img img,.fpro-img img{
		height: 8.5rem;
	}
	footer{
		padding-right: 3.3%;
	} 
}
@media screen and (max-width: 669px) {
	body{
		width: 100%;
		margin: auto;
	}
	h2{
		font-size: 1.5rem;
	}
	
	hr {
		display: block;
		position: absolute;
		color: #0065fc;
		top: 122px;
		height: 3px;
		width: 50%;
		background-color: #0065fc;
		margin-left: 0;
		border: none;
	}
	hr::after {
		color: #0065fc;
		height: 3px;
		width: 50%;
		background-color: #0065fc;
		margin-left: 0;
		border: none;
	}
	  
	 header:hover {
		border-bottom-color: #0065FC;

	}

	header{
		grid-template-columns: auto 1fr auto;
		grid-template-rows: 85px 45px;
		grid-template-areas: "titre . inscrire"
				     "heber . act";
		border-top: none;
		border-bottom: 3px solid #f2f2f2;
		min-width: 100%;		
	}
	
	header .heber {
		border-top: none;
	}
	
	header .heber:hover{
		border-top: none;
		font-weight: bold;
	}
	header .inscrire{
		padding-right: 20px;
	}
	header .act{
		padding-right: 50px;
	}
	main,header{
		margin: 0;
		padding: 0;
	}
	#section1{
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
		margin: auto;
	}
	#recherche{
		display: none;
	}
	.formulaire{
		margin-right: 3%;
	}
	.bouton i{
		display: block;
	}
	.bouton{
		position: relative;
		border-radius: 1rem;
		width: 3.125rem;
		left: -1rem;
		padding-left: 16px;
		font-weight: 300;	
	}
	.filtre-p{
		font-size: 1rem;
	}
	.pfiltre{
		margin: 0 2rem 1.5rem 0;
	}
	#heber{
		margin: 0;
	}
	.logement{
		margin-bottom: 0;
		margin-right: 20px;
	}
	.section1 {
		grid-template-columns: 1fr;
		grid-template-areas:"partie2"
		                    "partie1"; 
		padding-bottom: 0;
	}
        .partie2 {
		grid-template-columns: 1fr;
		grid-template-rows: 80px 1fr 1fr 1fr;
		border-radius: 0;
		margin: auto;
                max-width: 100%;
		padding: 0 5% 37px 5%;
		row-gap: 10px;
	}
	.partie2a{
		grid-column: 1/-1;
		width: 100%;
	}
	.partie1{
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(6, 1fr);
		gap: 1rem;
		background-color: transparent;
		padding: 0;
		width: 90%;
		margin: auto;
	}
	.mini{
		height: 200px;
	}
	.section2{
		width: 90%;
		margin: auto;
	}
	.actmar{
		grid-column: 1/-1;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		padding-left: 5.5%;
	}
	
	.partie3{
		grid-template-columns: 1fr;
		row-gap: 1.25rem;
		grid-template-areas:"vport" 
				    "boite1" 
				    "pnc"
				    "boite2"; 
		width: 90%;	
		margin: auto;								
	}
	.boite1,.boite2{
		row-gap: 1.25rem;
	}
	.first{
		margin-top: 15px;
	}
	.mini.vport,.pnc,.plong,.ifri,.ndlg,.fpro{
		max-height: 11.875rem;
	}
	.vport{
		margin-bottom: -1.25rem;
	}
	.vport-img img,.pnc-img img,.plong-img img,.ifri-img img,.ndlg-img img,.fpro-img img{
		height: 8.5rem;
	}
	footer{
        flex-direction: column;
        justify-content: space-evenly;
		align-items: flex-start;
		height: 100%;
		padding-bottom: 1.875rem;
		margin-top: 3rem;
	}
	.foot h4{
		font-size: 1.15rem;
	}
}
/*---------------------------------------------------*/
/*------------------MERCI----------------------------*/
/*---------------------------------------------------*/



